#menuButton {
    -fx-rotate: 180;
    -fx-scale-x: -1;
    -fx-shape: "M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z";
}

.menuBtnWhite {
    -fx-background-color: white;
}

.menuBtnBlack {
    -fx-background-color: black;
}

#refreshButton {
    -fx-shape: "M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z";
}

#homeButton {
    -fx-shape: "M12 5.69l5 4.5V18h-2v-6H9v6H7v-7.81l5-4.5M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3z";
}

#linkButton {
    -fx-shape: "M17 7h-4v2h4c1.65 0 3 1.35 3 3s-1.35 3-3 3h-4v2h4c2.76 0 5-2.24 5-5s-2.24-5-5-5zm-6 8H7c-1.65 0-3-1.35-3-3s1.35-3 3-3h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-2zm-3-4h8v2H8z";
}

#presenterButton {
    -fx-shape: "M65.3333 0H0V13.9888H1.32791V44.3892H26.8239L10.6233 59.4721L14.43 62.6762L30.0108 48.2185V65.3333H35.3225V48.2185L50.9033 62.6762L54.71 59.4721L38.5095 44.3892H63.9169V13.9888H65.2448L65.3333 0ZM5.31165 4.689H60.0217V9.29984H5.31165V4.689ZM58.6052 39.7002H6.72809V13.9888H58.6052V39.7002Z";
}

#pollsButton {
    -fx-shape: "M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14zM7 10h2v7H7zm4-3h2v10h-2zm4 6h2v4h-2z";
}

#questionButton {
    -fx-shape: "M14 17H4v2h10v-2zm6-8H4v2h16V9zM4 15h16v-2H4v2zM4 5v2h16V5H4z";
}

#settingsButton {
    -fx-shape: "M52.8927 35.3345C53.0016 34.4634 53.0832 33.5923 53.0832 32.6667C53.0832 31.7411 53.0016 30.87 52.8927 29.9989L58.6366 25.5072C59.1538 25.0989 59.2899 24.3639 58.9632 23.765L53.5188 14.3461C53.2738 13.9106 52.811 13.6656 52.321 13.6656C52.1577 13.6656 51.9943 13.6928 51.8582 13.7472L45.0799 16.4695C43.6643 15.3806 42.1399 14.4822 40.4793 13.8017L39.4449 6.58779C39.3632 5.93446 38.7916 5.44446 38.111 5.44446H27.2221C26.5416 5.44446 25.9699 5.93446 25.8882 6.58779L24.8538 13.8017C23.1932 14.4822 21.6688 15.4078 20.2532 16.4695L13.4749 13.7472C13.3116 13.6928 13.1482 13.6656 12.9849 13.6656C12.5221 13.6656 12.0593 13.9106 11.8143 14.3461L6.36989 23.765C6.016 24.3639 6.17933 25.0989 6.69656 25.5072L12.4404 29.9989C12.3316 30.87 12.2499 31.7684 12.2499 32.6667C12.2499 33.565 12.3316 34.4634 12.4404 35.3345L6.69656 39.8261C6.17933 40.2345 6.04322 40.9695 6.36989 41.5684L11.8143 50.9873C12.0593 51.4228 12.5221 51.6678 13.0121 51.6678C13.1754 51.6678 13.3388 51.6406 13.4749 51.5862L20.2532 48.8639C21.6688 49.9528 23.1932 50.8512 24.8538 51.5317L25.8882 58.7456C25.9699 59.3989 26.5416 59.8889 27.2221 59.8889H38.111C38.7916 59.8889 39.3632 59.3989 39.4449 58.7456L40.4793 51.5317C42.1399 50.8512 43.6643 49.9256 45.0799 48.8639L51.8582 51.5862C52.0216 51.6406 52.1849 51.6678 52.3482 51.6678C52.811 51.6678 53.2738 51.4228 53.5188 50.9873L58.9632 41.5684C59.2899 40.9695 59.1538 40.2345 58.6366 39.8261L52.8927 35.3345ZM47.5027 30.6795C47.6116 31.5234 47.6388 32.095 47.6388 32.6667C47.6388 33.2384 47.5843 33.8372 47.5027 34.6539L47.1216 37.73L49.5443 39.6356L52.4843 41.9223L50.5788 45.2161L47.1216 43.8278L44.2904 42.6845L41.8404 44.5356C40.6699 45.4067 39.5538 46.06 38.4377 46.5228L35.5521 47.6934L35.1166 50.7695L34.5721 54.4445H30.761L30.2438 50.7695L29.8082 47.6934L26.9227 46.5228C25.7521 46.0328 24.6632 45.4067 23.5743 44.59L21.0971 42.6845L18.2116 43.855L14.7543 45.2434L12.8488 41.9495L15.7888 39.6628L18.2116 37.7573L17.8304 34.6811C17.7488 33.8373 17.6943 33.2111 17.6943 32.6667C17.6943 32.1223 17.7488 31.4961 17.8304 30.6795L18.2116 27.6034L15.7888 25.6978L12.8488 23.4111L14.7543 20.1172L18.2116 21.5056L21.0427 22.6489L23.4927 20.7978C24.6632 19.9267 25.7793 19.2734 26.8954 18.8106L29.781 17.64L30.2166 14.5639L30.761 10.8889H34.5449L35.0621 14.5639L35.4977 17.64L38.3832 18.8106C39.5538 19.3006 40.6427 19.9267 41.7316 20.7434L44.2088 22.6489L47.0943 21.4784L50.5516 20.09L52.4571 23.3839L49.5443 25.6978L47.1216 27.6034L47.5027 30.6795ZM32.6666 21.7778C26.6504 21.7778 21.7777 26.6506 21.7777 32.6667C21.7777 38.6828 26.6504 43.5556 32.6666 43.5556C38.6827 43.5556 43.5554 38.6828 43.5554 32.6667C43.5554 26.6506 38.6827 21.7778 32.6666 21.7778ZM32.6666 38.1111C29.6721 38.1111 27.2221 35.6611 27.2221 32.6667C27.2221 29.6722 29.6721 27.2222 32.6666 27.2222C35.661 27.2222 38.111 29.6722 38.111 32.6667C38.111 35.6611 35.661 38.1111 32.6666 38.1111Z";
}

#closeRoomButton {
    -fx-shape: "M32.6652 5.44421C17.6121 5.44421 5.44434 17.6119 5.44434 32.6651C5.44434 47.7182 17.6121 59.8859 32.6652 59.8859C47.7183 59.8859 59.886 47.7182 59.886 32.6651C59.886 17.6119 47.7183 5.44421 32.6652 5.44421ZM32.6652 54.4417C20.6608 54.4417 10.8885 44.6694 10.8885 32.6651C10.8885 20.6607 20.6608 10.8884 32.6652 10.8884C44.6696 10.8884 54.4418 20.6607 54.4418 32.6651C54.4418 44.6694 44.6696 54.4417 32.6652 54.4417ZM42.4375 19.0546L32.6652 28.8269L22.8929 19.0546L19.0548 22.8928L28.827 32.6651L19.0548 42.4373L22.8929 46.2755L32.6652 36.5032L42.4375 46.2755L46.2756 42.4373L36.5033 32.6651L46.2756 22.8928L42.4375 19.0546Z";
}

#createNewRoomButton {
    -fx-shape: "M47.1111 0H5.88889C2.62056 0 0 2.65 0 5.88889V47.1111C0 50.35 2.62056 53 5.88889 53H47.1111C50.35 53 53 50.35 53 47.1111V5.88889C53 2.65 50.35 0 47.1111 0ZM47.1111 47.1111H5.88889V5.88889H47.1111V47.1111ZM23.5556 41.2222H29.4444V29.4444H41.2222V23.5556H29.4444V11.7778H23.5556V23.5556H11.7778V29.4444H23.5556V41.2222Z";
}

#exportButton {
    -fx-shape: "M47.7478 6.49815L43.9639 1.60268C43.2289 0.611933 42.1128 0 40.8333 0H8.16667C6.88722 0 5.77111 0.611933 5.00889 1.60268L1.25222 6.49815C0.462778 7.48889 0 8.80018 0 10.1989V46.6235C0 49.8288 2.45 52.4514 5.44444 52.4514H43.5556C46.55 52.4514 49 49.8288 49 46.6235V10.1989C49 8.80018 48.5372 7.48889 47.7478 6.49815ZM8.82 5.82793H40.18L42.385 8.65448H6.64222L8.82 5.82793ZM5.44444 46.6235V14.5698H43.5556V46.6235H5.44444ZM28.4472 20.3978H20.5528V29.1397H13.6111L24.5 40.7955L35.3889 29.1397H28.4472V20.3978Z";
}

#kickUserButton {
    -fx-shape: "M51.7888 42.7981L42.4106 32.7245C44.1916 33.3801 45.8335 34.155 47.3363 34.9895C50.0356 36.5095 51.7332 39.5197 51.7888 42.7981ZM55.1004 54.7792L51.1766 58.9815L43.9133 51.2326H7.26323V42.9471C7.26323 39.6091 8.96077 36.5393 11.7436 35.0194C15.3335 33.0523 19.7304 31.3833 24.7395 30.6978L0 4.20232L3.92382 0L55.1004 54.7792ZM38.3476 45.2718L29.9991 36.3307C29.8321 36.3307 29.693 36.3307 29.526 36.3307C22.9307 36.3307 17.5876 38.5064 14.276 40.3244C13.3855 40.8013 12.8289 41.8146 12.8289 42.9471V45.2718H38.3476ZM29.526 9.50738C32.5872 9.50738 35.0917 12.1897 35.0917 15.4681C35.0917 18.0312 33.589 20.2069 31.474 21.0414L35.5926 25.4524C38.6538 23.3363 40.6574 19.6406 40.6574 15.4681C40.6574 8.8815 35.6761 3.54664 29.526 3.54664C25.63 3.54664 22.1793 5.69251 20.2035 8.97092L24.3221 13.3819C25.1013 11.1168 27.1328 9.50738 29.526 9.50738Z";
}

#clearQuestionButton {
    -fx-shape: "M67.3327 6.73326C67.3327 3.06659 64.3327 0.0665894 60.666 0.0665894H7.33268C3.66602 0.0665894 0.666016 3.06659 0.666016 6.73326V46.7333C0.666016 50.3999 3.66602 53.3999 7.33268 53.3999H53.9994L67.3327 66.7333V6.73326ZM60.666 50.6333L56.766 46.7333H7.33268V6.73326H60.666V50.6333Z";
}

.textField {
    -fx-focus-color: transparent;
    -fx-text-box-border: transparent;
}

#sendButton {
    -fx-shape: "M9.68123 11.9886L26.9456 17.9848L9.65824 16.1226L9.68123 11.9886ZM26.9226 28.2268L9.65824 34.223V30.089L26.9226 28.2268ZM5.08354 6.34619L5.06055 19.3814L39.5433 23.1058L5.06055 26.8302L5.08354 39.8654L53.3364 23.1058L5.08354 6.34619Z";
}

#textBox {
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 50 50 50 50;
    -fx-background-radius: 50 50 50 50;
    -fx-border-color: black;
    -fx-background-color: white;
}

#questionInput {
    -fx-border-radius: 50 50 50 50;
    -fx-background-radius: 50 50 50 50;
}

#setConstraintsButton{
    -fx-shape: "M15.07 1.01h-6v2h6v-2zm-4 13h2v-6h-2v6zm8.03-6.62l1.42-1.42c-.43-.51-.9-.99-1.41-1.41l-1.42 1.42C16.14 4.74 14.19 4 12.07 4c-4.97 0-9 4.03-9 9s4.02 9 9 9 9-4.03 9-9c0-2.11-.74-4.06-1.97-5.61zm-7.03 12.62c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z";
}
