#menuButton {
    -fx-rotate: 180;
    -fx-scale-x: -1;
    -fx-shape: "M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z";
}

.menuBtnWhite {
    -fx-background-color: white;
}

.menuBtnBlack {
    -fx-background-color: black;
}

#refreshButton {
    -fx-shape: "M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z";
}

#homeButton {
    -fx-shape: "M12 5.69l5 4.5V18h-2v-6H9v6H7v-7.81l5-4.5M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3z";
}

#linkButton {
    -fx-shape: "M17 7h-4v2h4c1.65 0 3 1.35 3 3s-1.35 3-3 3h-4v2h4c2.76 0 5-2.24 5-5s-2.24-5-5-5zm-6 8H7c-1.65 0-3-1.35-3-3s1.35-3 3-3h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-2zm-3-4h8v2H8z";
}

#presenterButton {
    -fx-shape: "M65.3333 0H0V13.9888H1.32791V44.3892H26.8239L10.6233 59.4721L14.43 62.6762L30.0108 48.2185V65.3333H35.3225V48.2185L50.9033 62.6762L54.71 59.4721L38.5095 44.3892H63.9169V13.9888H65.2448L65.3333 0ZM5.31165 4.689H60.0217V9.29984H5.31165V4.689ZM58.6052 39.7002H6.72809V13.9888H58.6052V39.7002Z";
}

#pollsButton {
    -fx-shape: "M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14zM7 10h2v7H7zm4-3h2v10h-2zm4 6h2v4h-2z";
}

#questionButton {
    -fx-shape: "M14 17H4v2h10v-2zm6-8H4v2h16V9zM4 15h16v-2H4v2zM4 5v2h16V5H4z";
}